*:not(dialog) {
  margin: 0;
}

button:hover {
    cursor: pointer;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

:root {
    --OCEAN-BLUE: #129ADF;
    --LIGHT-GREY: #D3D3D3;
    --avatar-size-regular: 50px;
    --avatar-size-big: 90px;
}

.main-container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'sidebar header'
    'sidebar main';
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--OCEAN-BLUE);
    gap: 4.5em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: white;
}

.logo > svg {
    fill: white;
}

.logo > h1 {
    margin: 0;
    font-weight: 600;
}

.sidebar-action-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.sidebar-action-list a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.sidebar-action svg {
    fill: white;
}

.sidebar-action p {
    margin: 0;
}

.sidebar-action-list a:link,
.sidebar-action-list a:visited {
    color: white;
}

.page-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    row-gap: 2em;
    z-index: 0;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

#search-bar {
    padding: 0.5em 1em;
    border: none;
    background-color: var(--LIGHT-GREY);
    border-radius: 25px;
    width: clamp(100px, 80%, 700px);
}

#search-bar:focus {
    background-color: color-mix(in srgb, var(--LIGHT-GREY), transparent 30%);
    outline: none;
}

.search-button {
    padding: 0;
    background-color: white;
    border: none;
    display: flex; /* To remove inline height */
    align-items: center;
    justify-content: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1.5em;
    justify-self: end;
}

.user-info img {
    border-radius: 50%;
}

.user-info h2 {
    font-size: 1.3rem;
}

.greeting {
    display: flex;
    align-items: center;
    gap: 2em;
}

.greeting img {
    border-radius: 50%;
}

.greeting p {
    font-weight: 600;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-self: end;
}

.user-action button {
    border: none;
    background-color: var(--OCEAN-BLUE);
    border-radius: 32px;
    padding: 0.8em 2em;
    color: white;
    font-weight: 600;
}

.main-content {
    padding: 2em;
    grid-area: main;
    display: flex;
    gap: 2em;
    background-color: var(--LIGHT-GREY);
}

.projects-section {
    flex: 1;
}

.projects {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 0.5em orange solid;
    height: 200px;
    font-size: 1.1rem;
}

.project-card h4 {
    margin-bottom: 8px;
}

.card-actions {
    align-self: flex-end;
    display: flex;
    gap: 1em;
}

.card-actions button {
    border: none;
    background-color: white;
}

.dashboard-aside {
    display: flex;
    flex-direction: column;
}

.dashboard-aside > *:not(:last-child) {
    margin-bottom: 3em;
}

.announcements-container h3,
.trending-container h3,
.projects-section h3 {
    margin-bottom: 1em;
}

.announcements,
.trending,
.project-card {
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 7px -5px rgba(0, 0, 0, 0.5);
}

.announcement-wrapper {
    width: min-content;
    padding: 1em;
}

.announcement-wrapper:not(:last-child) {
    border-bottom: solid 1px var(--LIGHT-GREY);
}

.announcement-title {
    margin-bottom: 0.5em;
}

.trend-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
}

.trend-wrapper:not(:last-child) {
    margin-bottom: 1.5em;
}

.avatar-sm,
.avatar-med {
    border-radius: 50%;
}

.avatar-sm {
    width: var(--avatar-size-regular);
    height: var(--avatar-size-regular);
}

.avatar-med {
    width: var(--avatar-size-big);
    height: var(--avatar-size-big);
}